pip install python-telegram-bot==13.7
pip install requests==2.31.0
pip install beautifulsoup4==4.12.3
pip install textblob==0.18.0.post0
pip install pyowm==3.3.0
pip install wikipedia-api==0.7.1
pip install pyjokes==0.6.0
pip install randomfacts==1.0.0
pip install emoji==2.14.0
pip install nltk==3.9.1
